@media screen {
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 800;
	  src: local('Open Sans'), local('OpenSans'), url('/theme/font/open-sans-800.woff') format('woff'), url('/theme/font/open-sans-800.ttf') format('ttf');
	}
}